/******** 
reset 
********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }


.container {
    display: flex;
}

.debug{
    /* display: none; */
    border: 1px dashed #000000; 
}

body{
    font-family:Arial, Helvetica, sans-serif;
}





/*****************
    top 
*****************/

/*******
top-1
*******/

header{
    background-color: #255ee9;
    padding: 15px 0 0;
    color: #ffffff;
}

.top-1{
    max-width: 85%;
    margin: 0 auto;
    justify-content: space-between;
}

.top-item{
    padding: 15px;
    flex-shrink: 0;
}


/* Logo */

#logo {
    flex-grow: 1;
    align-items: center;
}


/* Link centrali */

#link{
    flex-grow: 3;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

li > a:link, li > a:visited, li > a:active{
    text-decoration: none;
    color: #ffffff;
}

li > a:hover {
    text-decoration: underline;
    color: #ffffff;
}



/* bottone "Accedi" */

#login{
    flex-grow: 1;  
    justify-content: end;
    align-items: center;   
}

.button{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    border-color: #ffffff;
    padding: 10px 15px;
    border-radius: 20px;
}

a.button:link, a.button:visited, a.button:active {
    color: #000000;
    text-decoration: none;  
}

a.button:hover {
    color: #000000;
    text-decoration: underline;
}


/*******
top-2
*******/

#top-2{
    padding: 100px 0;
    margin-top: 15px;
    background-image:url(../img/jumbo.png);
    background-size: cover;    
}

.top-item-2{
    max-width: 65%;
    margin: 0 auto;
}


/* Jumbotron */

#jumbotron {
    flex-direction: column;
    align-items: center;
}

#jumbo-1, #jumbo-2, #jumbo-3{
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#jumbo-1{
    font-size:x-large;
}

#jumbo-1 > h2 {
    word-spacing: normal;
}

#jumbo-2{
    padding: 30px 20px;   
    text-align: center;    
}

#jumbo-3{
    gap: 30px;
    padding: 10px;
}


/* Bottoni */

.button-2{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #23272a;
    border-color: #23272a;
    padding: 10px 15px;
    border-radius: 20px;
}

a.button-2:link, a.button-2:visited, a.button-2:active {
    color: #ffffff;
    text-decoration: none;  
}

a.button-2:hover {
    color: #ffffff;
    text-decoration: underline;
}




/*****************
    main
*****************/


.main-1{
    flex-direction: column;
}

.main-item{
    padding: 50px;   
    justify-content: center;  
}

.main-item:nth-child(even) {
    background-color: #d3d3d3;
}

.main-item:nth-child(even) #main-item-3{
   order: -1; 
} 




/*******
main-items-secondo-livello
*******/


#main-item-2{
    flex-shrink: 0;
    justify-content: right;
}

#main-item-3{
    flex-shrink: 0;
    max-width: 280px;
    padding: 40px 40px 40px 0;
    flex-direction: column;
    justify-content: center;
}

.main-img{
    width: 560px;
}

h2{ 
    font-size: xx-large;
    padding-bottom: 30px;
    word-spacing: 5px;
    line-height: 1.2;
}

#main-item-3 > p{
 word-spacing: 2px;
 line-height: 1.5;
}



/* seconda parte del main */

#main-item-4{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 100px;
}

#ready-to-start{
    padding: 30px 110px 80px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    margin-top: 50px
}

#main-item-4 > p{
    text-align: center;
}

.button-3{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #7288da;
    border-color: #7288da;
    padding: 10px 15px;
    border-radius: 20px;
}

a.button-3:link, a.button-3:visited, a.button-3:active {
    color: #ffffff;
    text-decoration: none;  
}

a.button-3:hover {
    color: #ffffff;
    text-decoration: underline;
}






/*****************
    footer
*****************/


/*******
bot-1
*******/

#bot-1{
    justify-content: center;
    padding: 5px 50px 40px;
    margin: 0 auto;
}


footer {
    background-color: #23272a;
    color: #ffffff;
}



/* sezione di sinistra */

#bot-item-1 {
    flex-shrink: 0;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
    border-bottom: 1px solid #7288da;
}

#bot-item-1 > h2 {
    color: #7288da;
}

#lenguage{
    gap: 5px;
}

.small {
    font-size: x-small;
}

#ita {
    height: 15px;
}

#icons {
    gap: 20px;
}



/* sezione delle liste */

#bot-item-2 {
    background-color: #20b2aa;
    flex-shrink: 0;
}

.bot-box {
    flex-grow: 1;
    padding: 30px 70px 50px;
    flex-direction: column;
    border-bottom: 1px solid #7288da;
}

.bot-box > span {
    font-size: small;
    color: #7288da;
}


.link-list {
    list-style: none;   
    line-height: 4; 
}






/*******
bot-2
*******/


#bot-2 {
    margin: 0 50px;
    justify-content: space-between;
    padding: 0 0 20px;
}